Source: spotty
Section: sound
Priority: extra
Maintainer: Pami Ketolainen <pami.ketolainen@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python-setuptools
Standards-Version: 3.9.1

Package: spotty
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
    python-setuptools,
    spotify-client-qt (>= 1:0.6)
Description: Spotify sidekick
 This program provides media key control and song info notifications for
 Spotify Linux preview
